{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Aqui va el bloque del titulo {% endcomment %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" type="text/css">
</head>
<body>
    <h2>Bienvenido a mi pagina</h2>
    <hr>
    <nav>
        <ul>
            <li><a href="{% url "inicio" %}">Inicio</a></li>
            <li><a href="{% url "acercade" %}">Acerca de</a></li>
            <li><a href="{% url "mision" %}">Misión</a></li>
            <li><a href="{% url "vision" %}">Visión</a></li>
            <li><a href="{% url "login" %}">Inicio de sesión</a></li>
            <li><a href="{% url "registro" %}">Registro</a></li>
        </ul>
    </nav> 
<hr>
    <section id="content">
    <div class="box">
         {% block content %} {% endblock content%}
    </div>
 </section>
</body>
</html>