{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}

{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <p>{{content}}</p>

    {% if  messages %}
        {% for message in  messages%}
        <div class="alert-success">
            {{message}}
        </div>
        {% endfor %}

        
    {% endif %}

    {% if user.email %}
        <h2>Binevenido al sistema {{user.first_name}} {{user.last_name}}</h2>
        <p>{{user.email}}</p>
    {% else %}
        <h2>Por favor inicia sesion ...</h2>
    {% endif %}
{% endblock content %}