/* Aplicar estilos generales  */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* *{
    margin: 0;
    padding: 0;
} */

/* APLICAR ESTILOS A EL HEADER "INICIO" */
#inicio{
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    height: 100vmin;
}

.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1920px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu p{
    display: inline;
    font-size: 2vmax;
    color: black;
    font-weight: bold;
    font-style: italic  ;
}

.lista{
    display: flex;
    list-style: none;
    font-size: 1vw;
}

.lista li{
    margin-left: 1.5vmin;
    justify-content: center;
}

.btn-menu{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1vw;
}

.btn-menu:hover{
    color: white;
    font-size: 1.1vw;
    text-decoration: underline;
    border: 1px solid black;
}

.titular{
    margin-top: 12rem;
    text-align: center;
}

.titular h1{
    font-size: 4vw;
    margin: 0;
}

.titular h2{
    font-size: 2.5vw;
    margin-bottom: 4vw;
}

.btn{
    background-color: #5db8f8;
    padding: 2vw;
    font-size: 1vw;
    color: white;
    text-decoration: none;
}

.btn:hover{
    font-size: 1.1vw;
}

.btn:active{
    background-color: #f0ea328a;
    font-size: 0.8vw;
    color: black;
}
/* #inicio{
    font-size: 25px;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
} */


/* Aplicar estilos a la seccion "sobremi" */
/* #sobremi{
    width: 500px;
    height: 500px;
    border-radius: 250px;
    border-right: solid 10px blue;
    border-bottom: solid 10px blue;
    margin-left: 4rem;
}

#sobremi:hover{
    width: 500px;
    height: 500px;
    border-radius: 150px;
    border-right: solid 10px blue;
    border-bottom: solid 10px blue;
    margin-left: 4rem;
}

#texto{
    margin-left: 45%;
    margin-right: 10%;
}

.parrafo{
    font-size: 20px;
    text-align:justify;
    font-family: Arial;
}

.boton{
    width: 8rem;
    height: 4rem;
    background-color: blue;
    color: white;
    float: left;
} */



/* APLICAR ESTILOS A LA SECCION "SERVICIOS" */




/* Aplicar estilos a el atributo class */



/* Aplicar estilos al pie */

