<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Aqui va el bloque del title {% endcomment %}
        {% endblock title %}
    </title>
</head>
<body>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'mision' %}">Misión</a>
    <a href="{% url 'vision' %}">Visión</a>
    {% block content %}
    {% comment %} Aquí va el bloque del content {% endcomment %}
    {% endblock content%}
</body>
</html>